<div style="display: flex; align-items: center; margin-bottom: 10px;">
  <%= render partial: 'layouts/pic_display', locals: { user: user } %>
  <strong style="flex: 1;"><%= user.name %></strong>
  <div>
    <% friendship = current_user.friendships.find { |f| f.friend_id == user.id } %>
    <% inverse_friendship = current_user.inverse_friendships.find { |f| f.user_id == user.id } %>
    <% if friendship && friendship.status == 'pending' %>
      <%= link_to 'Withdraw Friend Request', reject_request_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-secondary btn-sm", style: "margin-left: 10px;" %>
    <% elsif (friendship && friendship.status == 'accepted') || (inverse_friendship && inverse_friendship.status == 'accepted') %>
      <%= link_to 'Remove Friend', reject_request_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm", style: "margin-left: 10px;" %>
    <% elsif inverse_friendship && inverse_friendship.status == 'pending' %>
      <%= link_to "Accept Friend Request", accept_request_user_path(user), method: :patch, class: "btn btn-primary btn-sm", style: "margin-left: 10px;" %>
      <%= link_to 'Reject Friend Request', reject_request_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm", style: "margin-left: 10px;" %>
    <% else %>
      <%= link_to "Send Friend Request", send_request_user_path(user), method: :post, class: "btn btn-primary btn-sm", style: "margin-left: 10px;" %>
    <% end %>
  </div>
</div>